<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/sky.png')">
      <div class=""></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <div class="angular-logo">
                      <img src="assets/img/angular2-logo.png" alt="">
                  </div>
                  <h1 class="presentation-title">Bienvenu sur <em>Auditee</em></h1>
                  <div class="fog-low">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
                  <div class="fog-low right">
                      <img src="assets/img/fog-low.png" alt="">
                  </div>
              </div>
              <h2 class="presentation-subtitle text-center">Identifiez les différentes vulnérabilités de sécurité votre application Web grace à notre auditeur</h2>
          </div>
      </div>
      <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
            <h6 class="category-absolute ml-auto mr-auto"><a [routerLink]="['/audit']" ><button class="btn btn-dark btn-round">Cliquez ici pour commencer votre audit</button></a>
            </h6>
  </div>
</div>
