.btn-dark{
    background-color: darkorange;
    color: white;
    border-color:transparent
}
.btn-dark:hover{
    background-color: #d9534f !important;
    color: white;
    border-color: #d9534f !important;
}